.wrapper {
  width: 80%;
  min-width: 640px;
  margin: 0 auto;
}

#survey-content {
  width: 100%;
  text-align: center;
}

img {
  margin: 0 auto;
  width: 30%;
  height: 500px;
  border: 2px solid black;
}
